@import "tailwindcss";
@plugin "daisyui";


.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    right:10px;
    padding: 30px;
    color: #16b7cc !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
    font-size: 30px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
  
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #16b7cc;
  color: white !important;
  transition: .3s;
  transform: scale(1.15); /* slight zoom on hover */
}

/* font */
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.urbanist{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rancho {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sweet alert custom background color */
.gradient-bg{
  
  background: linear-gradient(to bottom right,  #03012a,  #090979) !important;
  font-size: 20px;
}
.error-gradient-bg{
  
  background: linear-gradient(to bottom right,  #ac0000, #dc2430, #fb0000) !important;
  font-size: 20px;
}


.premium-bg{
  background: linear-gradient(to bottom right,  #C02425, #F0CB35) !important;
  font-size: 20px;
}