@import "tailwindcss";
@plugin "daisyui";

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    right:10px;
    padding: 30px;
    color: #16b7cc !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
    font-size: 30px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
  
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #16b7cc;
  color: white !important;
  transition: .3s;
  transform: scale(1.15); /* slight zoom on hover */
}